body
{
	background-color: #404040;  
	font-family: 'Almarai' sans-serif;
	
}
#container
{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Liu Jian Mao Cao', cursive;

}
#logo
{
	color:white;
	background-color:#404040;
		margin-top:20px;
		font-size: 44px;
		letter-spacing: 15px;
		font-weight:900;
		text-align: center;
		font-family: 'Liu Jian Mao Cao', cursive;
		
		
}

#menu
{
	color:green;
	background-color:#404040;	
	letter-spacing: 8px;
	padding:0px;
	text-align: center;
	font-family: 'Liu Jian Mao Cao', cursive;
}
#topbar
{
	background-color: #404040;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 25px; 
	    height:170px;
}
#topbarL
{
	float:left;
	padding: 20px;
	width: 138px;
    text-align: center;
	border-right:2px dotted #cccccc;
}
#topbarR
{
	COLOR:BLACK;
	float:left;
	padding: 20px;
	width: 760px;
	font-size: 20px;
	text-align: juastify;	
}
#sidebar
{   float: left;
	background-color:green;
	width:148px;
	min-height:620px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
	
}
.optionL
{
	font-size:18px;
	height: 25px;
	padding: 10px;
	border-bottom: 2px solid #444444;
}
.optionL:hover
{
	background-color:orange;
	cursor: pointer;
}
#content
{
    float: left;
	padding: 40px;
	width: 730px;
	background-color: lightgray;
	min-height: 580px;
	text-align: justify;
}	

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
.duzytytuł
{
	color: blue;
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
	
}
.kropki
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444
}
.tekst
{
	color: red;
	letter-spacing: 2px;
}
.option
{
	float: left;
	min-width: 50px; 
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right:2px dotted #444444;
	opacity: 0.8;
	text-align: center;
}
.option:hover
{
	background-color:#000000;
	cursor:pointer;
}